<nav>
  <div class="logo">
    <a routerLink="/">
      <p className='text-yellow-300 text-lg -ml-10   font-extrabold'>FAST && YUMMY</p>
    </a>
  </div>
  <ul class="nav-links">
    <li>
      <a routerLink="/">Home</a>
    </li>
    <li>
      <a routerLink="/order">Order Online</a>
    </li>
    <li>
      <a routerLink="/contact">Contact Us</a>
    </li>
    <li>
      <div className="mr-20">
        <button  type="button" >
          <i class="fas fa-shopping-cart fa-xs"> </i>
          Add to Cart
    
        </button>

         


      </div>
    </li>
  </ul>
  <div class="login">
    <a routerLink="/login">Login</a>
  </div>
</nav>
